<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.andot.jdatax.dao.base.DBInfoMapper">

	<insert id="addDBInfo" parameterType="org.andot.jdatax.entity.DBInfo">
		insert into dbinfo
		(
			`dbName`, 
			`dbUser`, 
			`dbPwd`, 
			`dbUrl`, 
			`dbType`, 
			`dbClass`
		)
		values
		(
			#{dbName}, 
			#{dbUser}, 
			#{dbPwd}, 
			#{dbUrl},
			#{dbType}, 
			#{dbClass}
		)
	</insert>
</mapper>